.page {
    display: grid;
    grid-template-rows: 1fr 45px;
}

.page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 1000px;
}

.divider {
    background-color: rgb(33, 33, 33);

    width: 1fr;
    height: 10px;
}

.topic-title-page {
    padding-left: 20%;

    display: flex;
    flex-flow: column;
    justify-content: center;

    color: rgb(100, 100, 100)
}

.underline {
    background-color: rgb(100, 100, 100);
    margin-bottom: 50px;

    width: 340px;
    height: 5px;
}

.img-w-text {
    background-color: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graphimg {
    padding-top: 25%;
    display: flex;
    justify-content: center;
}

.centergraph {
    width: 700px;

    max-width: 100%;
}

.pageinfo {
    display: flex;
    justify-content: space-between;
}

.pageinfo-det {
    padding: 0 30px;
    flex: 1;

    display: flex;

    font-weight: bold;
    font-size: 13px;
}

.leftdet {
    margin-right: 30px;
}

.back-gray {
    background-color: rgb(240, 240, 240);
}

.flexend {
    justify-content: end;
}

.textblock {
    padding-top: 10%;
    line-height: 20px;

    display: flex;
    flex-direction: column;
}

.paragraph {
    margin-bottom: 2%;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.sideinfo {
    padding: 0 20%;
}

.cite {
    margin: 2% 0;
    padding-left: 4%;
    padding-right: 24%;
}

.terms {
    margin-bottom: 4%;
}

.alignend {
    align-items: end;
}

.topmargin {
    margin-top: 30%;
}


.simpletable {
    width: 100%;

    border-collapse: collapse;
}

.simpletable td {
    padding-left: 5px;

    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}

.simpletable .divider{
    background-color: rgb(100, 100, 100);
    height: 2px;
}

