.chapter {
    font-size: 24px;
    font-weight: bold;
}

.header {
    margin: 10px 0;

    font-weight: bold;
    font-size: 46px;
}

.thesis {
    width: 400px;
}

.imgdesc {
    padding-left: 20%;
    padding-bottom: 15%;
    width: 250px;

    color: rgb(100,100,100);

    font-size: 10px;
}

.textblock {
    text-align: justify;

    font-size: 13px;
}

.peader {
    font-weight: bold;
    font-size: 200%;

    margin-top: 10%;
    margin-bottom: 2%;
}

.sideinfo {
    font-size: 85%;

    line-height: 130%;
}

.reference {
    font-size: 70%;
    color: gray;
}

.info-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.bold {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;

    line-height: 20px;

    color: rgba(225,178,90,255);
}

.term {
    margin-bottom: 0.5%;

    font-weight: bold;

    color: rgb(100,100,100);
}

.indent {
    margin-left: 20px;
}